%header.l-header
  .social
    %a{href: "#"}= image_tag('social_fb.png')
    %a{href: "#"}= image_tag('social_mail.png')
    %a{href: "#"}= image_tag('social_tw.png')
%hr.blue-hr

.l-main
  %center
    %p.justify
      %b THIS SUMMER
      CITY CHURCH CHICAGO IS EXPANDING AND LAUNCHING A 
      %b 2ND CAMPUS
      IN THE
      %b.font-blue SOUTH LOOP
      THIS SUMMER,
      %b JULY 7TH @ 11:00AM
      W/ PASTORS KENT AND ALLI MUNSEY!

    %p.justify
      WHETHER YOU LIVE IN THE
      %b SOUTH LOOP,
      HAVE FRIENDS IN THE AREA, OR FEEL LIKE SPENDING THE AFTERNOON ON MICHIGAN AVE OR MILENNIUM PARK AFTER SERVICE - DON’T MISS THIS EXCITING FIRST   SERVICE EXPERIENCE
      %b JULY 7TH @ 11AM.

    = image_tag('icon_location.png')
    %p
      THE FINE ARTS BUILDING
      %br
      410 N. MICHIGAN AVE.
      %br
      FLOOR #10
    = image_tag('icon_car.png')
    %p
      PARKING AVAILABLE
      %br
      IN THE MILLENIUM PARK GARAGE
    = image_tag('icon_family.png')
    %p FAMILY STYLE SERVICE
    = image_tag('icon_cta.png')
    %p
      BROWN LINE = VAN BUREN
      %br
      PURPLE LINE = VAN BUREN
      %br
      RED LINE = JACKSON STOP

  %form.b-rsvp-form
    = image_tag('ill_be_there.png', class: 'ill-be-there')
    .b-inputs.hide
      %input{name: 'name'}
      %input{name: 'name'}
      %input{name: 'name'}
      %b I'M
      %b.font-blue BRINGING
      = select_tag "people", options_for_select([*1..15]), include_blank: true
      %b PEOPLE
      = image_tag('done_done.png', class: 'done-done')
:javascript
  $('.ill-be-there').click(function() {
    var inputs = $('.b-inputs').slideToggle(100, function() {
      inputs.css('display') == 'block' && $(window).scrollTop(inputs.offset().top)
    })
  })
