%header.l-header
  .social
    %a{href: "#"}= image_tag('social_fb.png')
    %a{href: "#"}= image_tag('social_mail.png')
    %a{href: "#"}= image_tag('social_tw.png')
%hr.blue-hr

.l-main
  %center
    %p
      This Summer City Church Chicago is expanding and launching a 2nd campus in the SOUTH LOOP this summer, July 7th @ 11:00am w/ Pastors Kent and Alli Munsey!

      Whether you live in the South Loop, have friends in the area, or feel like spending the afternoon on Michigan Ave or Milennium Park after service - don’t miss this exciting first   SERVICE EXPERIENCE July 7th @ 11am.

    %br
    = image_tag('icon_location.png')
    %p
      the fine arts building
      %br
      410 N. Michigan ave.
      %br
      floor #10
    %br
    = image_tag('icon_car.png')
    %p
      parking available
      %br
      in the millenium park garage
    %br
    = image_tag('icon_family.png')
    %p family style service
    %br
    = image_tag('icon_cta.png')
    %p
      Brown Line = Van Buren
      %br
      Purple Line = Van Buren
      %br
      Red Line = Jackson Stop

    = image_tag('ill_be_there.png')
    = image_tag('done_done.png')
